{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Download your wordpress images.</h1>
        <p class="lead">To download all your wordpress images, just paste the link to your wordpress site's RSS feed in the box below. If you don't know what RSS is, please read the step for step guide below.</p>
        <p><input type="text" class="large textbox" placeholder="http://myblog.com/feed" id="url" /> <a class="btn btn-primary" id="download" href="#">Download</a></p>
    </div>
{% endblock %}