<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WP-images.org - Download your wordpress images, structured by the posts for free - wordpress images, wp image downloader</title>
    <meta name="description" content="WP-images.org lets you download all your wordpress images that you've published in an easy way. Download images, structure them and compress them ready for download.">
    <meta name="author" content="wp-images.org">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
            </ul>
            <h3 class="white">WP-images.org</h3>
        </div>
        <div class="dl-container"></div>
        {% block content %}{% endblock %}

        <div class="footer">
            <p>Thanks for using our humble service!</p>
        </div>
     </div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44959454-1', 'wp-images.org');
    ga('send', 'pageview');

</script>
</body>
</html>